:root {
	--reference-light: hsl(120 100 97);
	--reference-dark: hsl(120 100 3);
	--main-color: hsl(30 100 50);
	--main-color-light: hsl(30 100 83.5);
	--main-color-dark: hsl(30 100 16.5);
	--accent-color: hsl(210 100 50);
	--accent-color-light: hsl(210 100 83.5);
	--accent-color-dark: hsl(210 100 16.5);
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans";
	background: var(--reference-dark);
	color: var(--reference-light);
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	height: 96vh;
}

nav#tabs {
	width: 90%;
	display: grid;
	grid-template-columns: 1.5fr 1fr 1fr;
	grid-template-rows: 1fr;
	transition: grid-template-columns .2s ease-in
}


button {
	font-size: large;
	background-color: var(--main-color-light);
	border-color: var(--reference-dark);
	color: var(--reference-dark);
	width: 100%;
	min-height: 5em;
	border-width: .05em;
	padding: 0;
	border-style: solid;
}

button.active {
	width: 2fr;
	min-height: 5.1em;
	background-color: var(--main-color);
	position: relative;
	border-color: var(--main-color);
}

#content {
	width: 90%;
	height: 66%;
	overflow-y: auto;
	background-color: var(--main-color);
	padding: 1.5rem;
	scrollbar-width: none;
}

.page > p, .page > h2 {
	color: var(--reference-dark);
}

.page:not(.active) {
	display: none;
}

footer {
	width: 90%
}